@use "@global" as *;

#vue-app {
.access {
  background-color: #fff; //$color-white;
  width: 100%;
  padding: 16px;
  .title {
    font-weight: 700;
    line-height: 3em;
    text-align: center;
    margin: 64px auto 32px auto;
    @include mq-down(md) {
      margin: 32px auto;
    }
    > h1 {
      font-size: 6.4rem;
      @include mq-down(md) {
        font-size: 4.8rem;
      }
    }
    > h2 {
      font-size: 2.4rem;
    }
  }
  .body {
    width: 100%;
    .map {
      margin: auto -16px;
      .lead {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        > span {
          font-size: 1.4em;
        }
      }
      iframe {
        margin: 32px auto;
        @include mq-down(md) {
          height: 300px;
        }
      }
      .button {
        border: solid 2px #333;
        border-radius: 60px;
        font-size: 3.2rem;
        width: 420px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 6px;
        margin: 0 auto;
        @include mq-down(md) {
          width: 300px;
          height: 60px;
        }
      }
      .address {
        width: fit-content;
        font-size: 1.7rem;
        margin: 16px auto;
      }
    }
    .divider {
      background-color: #a1a1a1;
      width: 40%;
      height: 2px;
      margin: 16px auto;
    }
    .detail {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: 48px auto;
      width: 100%;
      .navi {
        width: 100%;
        max-width: 460px;
        text-align: center;
        margin: auto 16px;
        @include mq-down(md) {
          margin: 0 12px 12px 12px;
        }
        > p {
          font-size: 1.7rem;
          font-weight: 700;
        }
        > ul {
          border: solid 3px #ccc;
          border-radius: 10px;
          text-align: start;
          line-height: 1.6em;
          padding: 16px;
          margin: 10px auto;
          > li {
            list-style-type: circle;
            margin-left: 48px;
            @include mq-down(md) {
              margin-left: 16px;
            }
          }
        }
        > span {
          font-weight: 700;
        }
      }
      .photo {
        width: 100%;
        max-width: 460px;
        margin: auto 16px;
        > img {
          border-radius: 10px;
        }
      }
    }
    .wrapper {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      margin: 32px auto;
      .btn {
        margin: auto 8px;
        @include mq-down(lg) {
          margin: 5px auto;
        }
      }
    }
    .contact {
      font-size: 1.4rem;
      width: fit-content;
      font-weight: 700;
      margin: 0 auto 26px auto;
    }
  }
}
}