@use "@global" as *;

#vue-app {
  .flow {
    background-image: url("~@image/bg_lp6.webp");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    @include mq-down(sm) {
      font-size: 10px;
    }
    @include mq-down(lg) {
      background-size: auto 100%;
    }
    .body {
      padding-bottom: 32px;
      .title {
        font-size: 6.4rem;
        font-weight: 700;
        color: #2a3d78; //$text-primary-dark;
        text-align: center;
        margin: 0 auto 50px auto;
        padding-top: 50px;
        > span {
          font-size: 0.9em;
        }
      }
      .step {
        background-color: rgba(255, 255, 255, 0.75);
        width: 100%;
        max-width: 860px;
        height: 250px;
        padding: 16px;
        margin: 16px auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        @include mq-down(sm) {
          height: 160px;
        }
        .box {
          width: 50%;
          display: flex;
          flex-flow: row wrap;
          @include mq-down(md) {
            width: 60%;
          }
        }
        .number {
          background-color: #2a3d78; //$color-primary-dark;
          width: 60px;
          height: 60px;
          color: #fff; //$text-white;
          font-family: "Barlow Semi Condensed";
          font-size: 4.8rem;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 4px;
          margin: 10px 10px 10px 0;
          @include mq-down(sm) {
            width: 30px;
            height: 30px;
            font-size: 2.5rem;
            padding-bottom: 3px;
          }
        }
        .name {
          color: #2a3d78; //$text-primary-dark;
          font-size: 3em;
          font-weight: 700;
          line-height: 1.6em;
          @include mq-down(md) {
            font-size: 2.5em;
            line-height: 1.9em;
          }
        }
        .detail {
          width: 100%;
          font-size: 2.4rem;
          margin-top: 10px;
          @include mq-down(md) {
            font-size: 1.4rem;
            margin-top: 5px;
          }
        }
        .image {
          width: 30%;
          text-align: end;
          img {
            width: 80%;
            @include mq-down(sm) {
              width: 90%;
            }
          }
        }
      }
      .triangle {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 30px 20px 0 20px;
        border-color: rgba(255, 255, 255, 0.75) transparent transparent
          transparent;
        transform: rotate(0deg);
        margin: -16px auto 32px auto;
        @include mq-down(md) {
          border-width: 30px 30px 0 30px;
        }
      }
    }
  }
}
