@use "@global" as *;

#vue-app {
  .point {
    width: 100%;
    .body {
      background-color: #0098d6; //$color-primary;
      background-image: linear-gradient(
          180deg,
          rgba(0, 153, 214, 0) 10%,
          rgba(0, 153, 214, 1) 30%
        ),
        url("~@image/pattern_header.webp");
      background-size: 100% auto, 100% auto;
      background-position-y: 25%, auto;
      background-repeat: no-repeat;
      width: 100%;
      padding-bottom: 2rem;
    }
    .wrapper {
      width: 100%;
      max-width: 1200px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      margin: 0 auto;
      @include mq-down(md) {
        padding-top: auto;
      }
    }
    .leads {
      color: #fff; //$color-white;
      margin: auto 5px;
      > h1 {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: -15px;
        > strong {
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 4.8rem;
        }
      }
      @include mq-down(md) {
        margin: 50px -40px auto 0;
        width: 70%;
      }
      @include mq-down(sm) {
        > h1 {
          font-size: 1.6rem;
          > strong {
            font-size: 3.2rem;
            line-height: 3.2rem;
          }
        }
      }
    }
    .model {
      width: 30%;
      max-width: 180px;
      margin-bottom: -6rem;
    }
    .cardlist {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      > .card {
        background-color: #fff; //$color-white;
        border-radius: 10px;
        width: 460px;
        height: 120px;
        padding: 1.6rem;
        margin: 1.6rem;
        @include mq-down(md) {
          width: 100%;
          height: 100px;
          margin: 1rem 1.6rem;
        }
        > p {
          font-size: 2.6rem;
          font-weight: 600;
          @include mq-down(md) {
            font-size: 2rem;
          }
        }
        > .title {
          display: flex;
          flex-flow: row;
          margin-bottom: 0.8rem;
          > .pill {
            background-color: #e5f4fb; //$color-primary-light;
            border-radius: 30px;
            width: 80px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.7rem;
            color: #0098d6; //$color-primary;
            font-size: 1.75rem;
            font-weight: 700;
          }
          > p {
            margin: -1.2rem 0;
            color: #0098d6; //$color-primary;
            font-family: "Barlow Semi Condensed";
            font-size: 3rem;
            font-weight: 700;
          }
        }
      }
    }
    .plan {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1.6rem;
      color: #fff; //$color-white;
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      line-height: 4rem;
      @include mq-down(md) {
        margin: 0.8rem 2rem;
        font-size: 2.5rem;
      }
      p {
        line-height: 1.4;
      }
    }
  }
}
