@use "../global" as *;

#vue-app {
  .l-footer {
    width: 100%;
    padding: 5rem;
    margin-top: auto;
    background-color: #fff;

    &__inner {
      width: 100%;
      max-width: $max-width-pc;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      margin: 0 auto;

      @include mq-down(md) {
        flex-direction: column;
      }
    }

    .description {
      width: fit-content;

      &__logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 0.1rem solid #246bb5;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        @include mq-down(md) {
          flex-direction: column-reverse;
        }
        .logo {
          > img {
            height: 5rem;
            margin-left: -1rem;
            @include mq-down(md) {
              height: ss(100);
              margin-top: ss(40);
              margin-left: auto;
            }
          }
        }
        .icon {
          display: flex;
          &__x {
            margin-right: 1rem;
          }
          &__ig {
          }
        }
      }
      &__text {
        font-size: 1.3rem;
        line-height: 180%;
        @include mq-down(md) {
          font-size: ss(24);
          text-align: center;
        }
        .company-name {
          font-weight: 500;
          @include mq-down(md) {
            font-size: ss(28);
          }
        }
      }
    }

    .list-items {
      width: fit-content;
      display: flex;
      flex-direction: row;
      @include mq-down(md) {
        margin-top: ss(40);
      }

      .list-item {
        display: flex;
        flex-direction: row;
        width: fit-content;
        font-size: 1.2rem;
        @include mq-down(md) {
          font-size: ss(24);
        }
      }

      li:first-child:after {
        content: "";
        background-color: #333;
        width: 0.1rem;
        height: 1.45rem;
        margin: 0 1rem;
      }
    }
  }
}
